{% extends 'basefile/base.html' %} {% load static %} {% block title %}Free Packs{% endblock title %} {% block main-content %}

   <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header mb-3">
            <h3>NawabEditz</h3>
        </div>

        <ul class="list-unstyled text-center">

                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark fw-bold" href="{% url 'freepacksthumbnail' %}">Thumbnails</a></a>

        </ul>
        <hr class="text-dark">
        
        <ul class="list-unstyled text-center ">
          
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark" href="{% url 'freepacksbanner' %}">Banners</a></a>
          <hr class="text-dark">
          
        </ul>
        <ul class="list-unstyled text-center ">
          
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark" href="{% url 'freepacksintro' %}">Intros</a></a>
          
        </ul>
        <hr class="text-dark">
        <ul class="list-unstyled text-center">
          
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark" href="{% url 'freepacksoutro' %}">Outros</a></a>
          
        </ul>
        <hr class="text-dark">
        <ul class="list-unstyled text-center">
          
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark" href="{% url 'freepacksposter' %}">Posters</a></a>
          
        </ul>
        <hr class="text-dark">
        <ul class="list-unstyled text-center">
          
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark" href="{% url 'freepacksrender' %}">Render</a></a>
          
        </ul>


        
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-dark">
                <i class="fas fa-align-left"></i>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>
        </div>
    </nav>
   <div class="col-sm-8 offset-sm-1">
    <div class="container my-3">
      {% if request.user.is_superuser or request.user.is_staff%}
      <div class="col-12 mt-3 mb-3">
        <a class="btn btn-danger" href="{% url 'freepackspost' %}">Add Pack</a>
      </div>
      {% endif %}
      <h2 class="mb-2">Thumbnail: </h2>
      {% if freepacksthumb|length < 1 %}
      <div class="alert alert-danger">
  <h4>No data found at this moment</h4>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    {% endif %}
  {% for t in freepacksthumb %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
    <img src="{{t.image.url}}" class="card-img-top" alt="video thumbnail">
            <strong class="d-inline-block mb-2 text-primary">Nawab Editz</strong>
            <h3 class="mb-0">{{t.title}}</h3> 
               <div class="my-2">
            	<a href="#" role="button" class="btn btn-danger">Click-Here</a>
              {% if request.user.is_superuser or request.user.is_staff%}
              <a class="btn btn-danger" href="{% url "delete-post" t.id%}">Delete</a>
              {% endif %}
            </div>
            </div>
            </div>
    {% endfor %}
</div>
</div>
</div>
  {% endblock main-content %}