{% extends 'basefile/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 {% comment %} <div class="row">
  <h3>Welcome Username</h3>
  <div class="col-sm-3 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'about' %}" class="btn btn-primary">About</a></li>
    <li class="d-grid"><a href="{% url 'communityguidelines' %}" class="btn">Community Guidelines</a></li>
    <li class="d-grid"><a href="{% url 'privacypolicy' %}" class="btn">Privacy Policy</a></li>
   </ul>
  </div>
  <div class="col-sm-8 offset-sm-1">
   <form action="" method="post">
    {% csrf_token %}
    <div class="col-12">
      <label for="inputName" class="form-label">Username</label>
      <input type="text" class="form-control" id="inputEmail" value="username">
    </div>
    <div class="col-12">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail" value="username@gmail.com">
    </div>

    <div class="col-12 mt-3">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
   </form>
  </div>
 </div> {% endcomment %}
 <h2 class="text-center">Coming Soon...</h2>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock main-content %}