{% extends 'basefile/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>
  
        <div class="sidebar-header mb-3">
            <h3>NawabEditz</h3>
        </div>
  
        <ul class="list-unstyled text-center">
  
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark" href="{% url 'profile' %}">Profile</a></a>
  
        </ul>
        <hr class="text-dark">
        
        <ul class="list-unstyled text-center ">
          
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark fw-bold" href="{% url 'changepassword' %}">Change Password</a></a>
          <hr class="text-dark">
          
        </ul>
        
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-dark">
                <i class="fas fa-align-left"></i>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>
        </div>
    </nav>
<div class="container my-5">
 <div class="row">
     <div class="col-sm-9 offset-sm-1">
         <div class="card-body">
             <div class="form-content my-3 p-3">
                 <div class="container">
                     <div class="row justify-content-center">
                         {% if form.errors %}
                         <div class="alert alert-danger alert-dismissible" role="alert">
                             <div id="form_errors">
                                 {% for key, value in form.errors.items %}
                                 <strong>{{ value }}</strong>
                                 {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                  <h3 class="mb-4">Welcome {{request.user.username}}</h3>
                  <div class="form-group">
                      <label class="small mb-1" for="id_old_password">Old Password</label>
                      <input type="password" name="old_password" autocomplete="new-password"
                             class="form-control" required id="id_old_password"
                             placeholder="Enter Old Password"/>
                      <span>
                      </span>
                  </div>
              </div>
          </div>
          <div class="form-row">
              <div class="col-md-10 offset-md-1">
                  <div class="form-group">
                      <label class="small mb-1" for="id_new_password1">New Password</label>
                      <input type="password" name="new_password1" autocomplete="new-password"
                             class="form-control" required id="id_new_password1"
                             placeholder="Enter New Password"/>
                      <span>
                      </span>
                  </div>
              </div>
          </div>
          <div class="form-row">
              <div class="col-md-10 offset-md-1">
                  <div class="form-group">
                      <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
                      <input type="password" name="new_password2" autocomplete="new-password"
                             required id="id_new_password2" class="form-control"
                             placeholder="Confirm New Password"/>
                  </div>
              </div>
          </div>
          <div class="form-row mt-4">
              <div class="col-md-10 offset-md-1">
                  <div class="form-group mt-0 mb-1">
                      <button type="submit" class="btn btn-danger" id="reset">Change</button>
                  </div>
              </div>
          </div>
      </form>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
{% endblock main-content %}