{% extends 'basefile/base.html' %}
{% load static %}
{% block title %}Sign In{% endblock title %}
{% block main-content %}
{% load socialaccount %}
<div class="container">
  <div class="row my-3">
   <div class="col-sm-6 offset-sm-3">
    <form action="" method="post" class="shadow-lg p-5">
      {% csrf_token %}
    <div class="container">
      {% if messages %}
      {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5 {% endif %}">{{message}}</p>
      {% endfor %}
    {% endif %}
    <div class="text-center">
      <img src="{% static 'favicons.png' %}" alt="logo" width="80" height="80">
      <h2 class-"text-center">GraphicWareX.com</h2>
      <p class="text-gray" style="font-size:1.75rem; line-height:1.75rem">Welcome Back!</p>
      </div>
      <br>
        {{form}}
      </div>
       <div class="text-center text-primary fw-bold"><small><a href="{% url 'password_reset' %}">Forgot Password ?</a></small></div>
       <div class="ml-4">
       <input type="submit" class="btn btn-danger m-4" value="Signin">
       </div>
       <br>
       <div class="text-center text-primary fw-bold"><small>New to NawabEditz ? <a href="{% url 'signup' %}"
        class="text-danger">Create an Account</a> </small></div>
      </form>
     </div>
    </div>
   </div>
{% endblock main-content %}