{% extends 'basefile/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}

<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div id="dismiss">
          <i class="fas fa-arrow-left"></i>
      </div>

      <div class="sidebar-header mb-3">
          <h3>NawabEditz</h3>
      </div>

      <ul class="list-unstyled text-center">

              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark fw-bold" href="{% url 'profile' %}">Profile</a></a>

      </ul>
      <hr class="text-dark">
      
      <ul class="list-unstyled text-center ">
        
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark" href="{% url 'changepassword' %}">Change Password</a></a>
        <hr class="text-dark">
        
      </ul>
      
      <ul class="list-unstyled text-center ">
        
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark" href="{% url 'userposts' %}">Uploads</a></a>
        <hr class="text-dark">
        
      </ul>
      
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-dark">
              <i class="fas fa-align-left"></i>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
          </button>
      </div>
    </nav>
{% if product|length < 1 and product2|length < 1 and product3|length < 1 and product4|length < 1 and product5|length < 1 and product6|length < 1 %}
<h2 class="text-center">You don't have any uploads yet...</h2>
{% else %}
{% if product|length < 1 %}
<br>
{% else %}
<div class="container">
    {% for i in product %}
{% include 'includes/warexdesigns.html' %}
{% endfor %}
</div>
</div>
{% endif %}
{% if product2|length < 1 %}
<br>
{% else %}
<div class="container">
    {% for i in product2 %}
{% include 'includes/userdesigns.html' %}
{% endfor %}
</div>
</div>
{% endif %}
{% if product3|length < 1 %}
<br>
{% else %}
<div class="container">
    {% for i in product3 %}
{% include 'includes/freepacks.html' %}
{% endfor %}
</div>
</div>
{% endif %}
{% if product4|length < 1 %}
<br>
{% else %}
<div class="container">
    {% for i in product4 %}
{% include 'includes/paidpacks.html' %}
{% endfor %}
</div>
</div>
{% endif %}
{% if product5|length < 1 %}
<br>
{% else %}
<div class="container">
    {% for i in product5 %}
{% include 'includes/userpacks.html' %}
{% endfor %}
</div>
</div>
{% endif %}
{% if product6|length < 1 %}
<br>
{% else %}
<div class="container">
    {% for i in product6 %}
{% include 'includes/ytpackscard.html' %}
{% endfor %}
</div>
</div>
{% endif %}
{% endif %}
{% endblock main-content %}