{% load static %}
<section class="ftco-section">
  <div class="container">
    <div class="row no-gutters ftco-services">
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-shipped"><img src="{% static 'image/van.png' %}" alt="van" width="80" height="80"></span>
          </div>
          <div class="media-body">
            <h3 class="heading mt-3">Fast</h3>
            <span class="ml-2">One click buy</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-diet"><img src="{% static 'image/secure.png' %}" alt="secure" width="80" height="80"></span>
          </div>
          <div class="media-body">
            <h3 class="heading mt-3">Secure</h3>
            <span class="ml-2">100% Safe & Secure</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-award"><img src="{% static 'image/cheap.png' %}" alt="cheap" width="80" height="80"></span>
          </div>
          <div class="media-body">
            <h3 class="heading mt-3">Cheap</h3>
            <span class="ml-2">Packs & Designs</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-customer-service"><img src="{% static 'image/support.png' %}" alt="Support" width="80" height="80"></span>
          </div>
          <div class="media-body">
            <h3 class="heading mt-3">Support</h3>
            <span>24/7 Support</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>