<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
  <img src="{{i.image.url}}" class="card-img-top" alt="video thumbnail">
        <strong class="d-inline-block mb-2 text-primary">Graphic WareX</strong>
        <h3 class="mb-0">{{i.title}}</h3> 
        <p class="card-text"><span class="text-dark">Price:</span> <del>₹{{i.sp}}</del> <span class="text-danger">₹{{i.dp}}</span></p>
        <hr>
           <div class="text-center">
            <a href="{{i.download_link}}" role="button" class="btn btn-dark">Buy Now</a>
            <a class="btn btn-danger" href="{% url "delete-post6" i.id%}">Delete</a>
            <a class="btn btn-danger" href="{% url "editpost6" i.id%}">Edit Post</a>
           </div>
        </div>
        </div>
        </div>