{% extends 'basefile/base.html' %} {% load static %} {% block title %}User Packs{% endblock title %} {% block main-content %}

   <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header mb-3">
            <h3>NawabEditz</h3>
        </div>

        <ul class="list-unstyled text-center">

                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark" href="{% url 'userpacksthumbnail' %}">Thumbnails</a></a>

        </ul>
        <hr class="text-dark">
        
        <ul class="list-unstyled text-center ">
          
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark" href="{% url 'userpacksbanner' %}">Banners</a></a>
          <hr class="text-dark">
          
        </ul>
        <ul class="list-unstyled text-center ">
          
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark" href="{% url 'userpacksintro' %}">Intros</a></a>
          
        </ul>
        <hr class="text-dark">
        <ul class="list-unstyled text-center">
          
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark" href="{% url 'userpacksoutro' %}">Outros</a></a>
          
        </ul>
        <hr class="text-dark">
        <ul class="list-unstyled text-center">
          
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark" href="{% url 'userpacksposter' %}">Posters</a></a>
          
        </ul>
        <hr class="text-dark">
        <ul class="list-unstyled text-center">
          
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark fw-bold" href="{% url 'userpacksrender' %}">Render</a></a>
          
        </ul>
        <hr class="text-dark">
        <ul class="list-unstyled text-center">
          
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a class="text-dark" href="{% url 'userpacksgfxmaterials' %}">GFX Materials</a></a>
          
        </ul>
        
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-dark">
                <i class="fas fa-align-left"></i>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>
        </div>
    </nav>

   <div class="col-sm-8 offset-sm-1">
    <div class="container my-3">
      {% if request.user.is_authenticated %}
      <div class="col-12 mt-3 mb-3">
        <a class="btn btn-danger" href="{% url 'userpackspost' %}">Add Pack</a>
      </div>
      {% endif %}
      <h2 class="mb-2">Render: </h2>
      {% if userpacksrender|length < 1 %}
      <div class="alert alert-danger">
  <h4>No data found at this moment</h4>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    {% endif %}
  {% for i in userpacksrender %}
  {% include 'includes/usercard.html' %}
    {% endfor %}
</div>
</div>
<div class="overlay"></div>
  {% endblock main-content %}